@import "~bootstrap/scss/mixins/breakpoints";
@import "~bootstrap/scss/variables";

//base styles for the navbar
@mixin nav-props {
  background-color: rgb(68, 138, 255);
  a {
    color: #e0f7fa;
  }
}


@include media-breakpoint-up(md) {
  .navbar {
    @include nav-props;
    height: 100vh;
    float: right;
    text-align: center;

    #self-portrait {
      border-radius: 50%;
      width: 75px;
      height: auto;
    }
    .navbar-brand {
      padding: 0;
      margin: 0;
    }
    #name:after {
      content: 'Brenden\ANiedermeyer';
      white-space: pre;
    }
    .collapse {
      text-align: center !important;
      padding-left: 10px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .navbar {
    @include nav-props;

    #self-portrait {
      display: none;
    }
    #name:after {
      content: 'Brenden Niedermeyer';
      white-space: pre;
    }
  }
}

