<md-toolbar color="primary" fxHide fxShow.lt-sm>
  <span>Brenden Niedermeyer</span>
    <md-nav-list>
      <a md-list-item href="#">Home</a>
      <a md-list-item href="#">Thoughts</a>
      <a md-list-item href="#">Resume</a>
    </md-nav-list>
</md-toolbar>
<md-sidenav-container fxShow fxHide.lt-sm>
  <md-sidenav mode="side" opened="true" align="end">
    <span>Brenden Niedermeyer</span>
    <md-nav-list>
      <a md-list-item href="#">Home</a>
      <a md-list-item href="#">Thoughts</a>
      <a md-list-item href="#">Resume</a>
    </md-nav-list>
  </md-sidenav>
</md-sidenav-container>
