<md-card id="contact" fxFlex fxLayout="column" fxLayoutAlign="start center">
  <img src="assets/img/profile.jpg" id="self-portrait" alt="">
  <h3>Brenden Niedermeyer</h3>
  <md-list>
    <md-divider fxHide fxShow.gt-md></md-divider>
    <md-list-item><md-icon md-list-icon color="accent">place</md-icon>Seattle, WA</md-list-item>
    <md-list-item><md-icon md-list-icon color="accent">call</md-icon>By Request</md-list-item>
    <md-list-item><md-icon md-list-icon color="accent">mail_outline</md-icon><a href="mailto:me@brenden.fyi">me@brenden.fyi</a></md-list-item>
    <md-list-item><md-icon md-list-icon color="accent">language</md-icon>English, German</md-list-item>
    <md-list-item (click)="handleResumeClick()" class="pointer"><md-icon md-list-icon color="accent">print</md-icon>Printer Friendly Version</md-list-item>
    <md-divider fxHide fxShow.gt-md></md-divider>
  </md-list>
</md-card>
