@import "~bootstrap/scss/mixins/breakpoints";
@import "~bootstrap/scss/variables";

#contact {

  //text-align: center;
  background-color: white;
  border: solid 1px #c2c2c2;
  border-radius: 2px;
  padding: 20px;

  #self-portrait {
    width: 100px;
    height: auto;
    border-radius: 50%;
    margin: 10px 0 10px 0;
  }

  i {
    //margin-left: 10px;
    margin-right: 10px;
    color: #646464;
  }
  a {
    color: inherit;
  }

}

@include media-breakpoint-down(sm) {

}
