img {
  height: 100px;
  width: auto;
  border-radius: 50%;
}
mat-card {
  height: 430px;
  text-align: center;
  padding: 0;
  padding-top: 10px;
  mat-list-item {
    margin: 0;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  .pointer {
    cursor: pointer;
  }
}
