@import "~@angular/material/theming";
@import "../theme";
@import "../variables";

mat-sidenav-container {
  margin:0;
  padding: 0;

  mat-sidenav {
    padding: 10px;
  }
  .box-shadow {
    box-shadow: 0px 1px 5px 1px  #1c4e63 !important;
    margin-bottom: 5px;

  }
}
mat-list-item {
  text-align: center;
  color: $header-color;
  a {
    color: inherit;
    text-decoration: none;
  }
}

.social-links {
  color: mat-color($md-bn-primary, 400);
  text-decoration: none;
}
