<md-sidenav-container>
  <!--Top navbar for mobile-->
  <md-toolbar fxHide color="primary">
    <span fxFlex>Brenden Niedermeyer</span>
    <button md-icon-button fxHide fxShow.xs (click)="sidenav.open()">
      <md-icon>menu</md-icon>
    </button>
    <div fxFlex fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end" fxHide fxShow.gt-xs>
      <md-list-item><a href="#">Home</a></md-list-item>
      <md-list-item><a href="#">Thoughts</a></md-list-item>
      <md-list-item><a href="#">Resume</a></md-list-item>
      <md-list-item fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <a href="https://www.linkedin.com/in/bniedermeyer"><i class="fa fa-lg fa-linkedin-square social-links"
                                                              aria-hidden="true"></i></a>
        <a href="https://www.github.com/bniedermeyer"><i class="fa fa-lg fa-github social-links" aria-hidden="true"></i></a>
      </md-list-item>
    </div>
  </md-toolbar>
  <!--Sidebar for non-mobile layouts-->
  <md-sidenav #sidenav (openSideNav)="sidenav.open()" [opened]="opened" [mode]="navbarMode" align="end" fxFlex fxLayout="column"
              fxLayoutAlign="center center">
    <md-list-item class="mat-title">Brenden Niedermeyer</md-list-item>
    <md-list-item><a href="#" class="mat-title">Home</a></md-list-item>
    <md-list-item><a href="#" class="mat-title">Thoughts</a></md-list-item>
    <md-list-item><a href="#" class="mat-title">Resume</a></md-list-item>
    <md-list-item fxFlex="5"></md-list-item>
    <md-list-item fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="50px">
      <a href="https://www.linkedin.com/in/bniedermeyer"><i class="fa fa-2x fa-linkedin-square social-links"
                                                            aria-hidden="true"></i></a>
      <a href="https://www.github.com/bniedermeyer"><i class="fa fa-2x fa-github social-links"
                                                       aria-hidden="true"></i></a>
    </md-list-item>
  </md-sidenav>
  <!--main site content-->
  <router-outlet></router-outlet>
</md-sidenav-container>
