<mat-sidenav-container>
  <!--Top navbar for mobile-->
  <mat-toolbar  fxHide color="primary">
    <span fxFlex>Brenden Niedermeyer</span>
    <button mat-icon-button fxHide fxShow.xs (click)="sidenav.open()">
      <mat-icon>menu</mat-icon>
    </button>
    <div fxFlex fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end" fxHide fxShow.gt-xs>
      <mat-list-item><a href="#">Home</a></mat-list-item>
      <mat-list-item><a href="#">Thoughts</a></mat-list-item>
      <mat-list-item><a href="#">Resume</a></mat-list-item>
      <mat-list-item fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <a href="https://www.linkedin.com/in/bniedermeyer"><i class="fa fa-lg fa-linkedin-square social-links"
                                                              aria-hidden="true"></i></a>
        <a href="https://www.github.com/bniedermeyer"><i class="fa fa-lg fa-github social-links" aria-hidden="true"></i></a>
      </mat-list-item>
    </div>
  </mat-toolbar>
  <!--Sidebar for non-mobile layouts-->
  <mat-sidenav #sidenav [opened]="opened" [mode]="navbarMode" align="end" fxFlex fxLayout="column"
              fxLayoutAlign="center center">
    <mat-list-item class="mat-title">Brenden Niedermeyer</mat-list-item>
    <mat-list-item><a href="#" class="mat-title">Home</a></mat-list-item>
    <mat-list-item><a href="#" class="mat-title">Thoughts</a></mat-list-item>
    <mat-list-item><a href="#" class="mat-title">Resume</a></mat-list-item>
    <mat-list-item fxFlex="5"></mat-list-item>
    <mat-list-item fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="50px">
      <a href="https://www.linkedin.com/in/bniedermeyer"><i class="fa fa-2x fa-linkedin-square social-links"
                                                            aria-hidden="true"></i></a>
      <a href="https://www.github.com/bniedermeyer"><i class="fa fa-2x fa-github social-links"
                                                       aria-hidden="true"></i></a>
    </mat-list-item>
  </mat-sidenav>
  <!--main site content-->
  <router-outlet></router-outlet>
</mat-sidenav-container>
