$md-bn-primary: (
  50 : #e7e9ea,
  100 : #c3c8ca,
  200 : #9ba3a7,
  300 : #737e84,
  400 : #556369,
  500 : #37474f,
  600 : #314048,
  700 : #2a373f,
  800 : #232f36,
  900 : #162026,
  A100 : #6ac6ff,
  A200 : #37b2ff,
  A400 : #049fff,
  A700 : #0090ea,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$md-bn-accent: (
  50 : #ebeff3,
  100 : #ced7e2,
  200 : #adbdcf,
  300 : #8ca3bb,
  400 : #748fad,
  500 : #5b7b9e,
  600 : #537396,
  700 : #49688c,
  800 : #405e82,
  900 : #2f4b70,
  A100 : #bad7ff,
  A200 : #87b9ff,
  A400 : #549bff,
  A700 : #3b8cff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);


