@import '~@angular/material/theming';
@import 'palettes';
$primary: mat-palette($md-bn-primary, 500);
$accent:  mat-palette($mat-blue-grey, 500, 100, 800);
$warn:    mat-palette($mat-red, 600);
$theme: mat-light-theme($primary, $accent, $warn);
