<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
  <md-icon color="accent">school</md-icon>
  <h3>Education</h3>
</div>
<div class="degree" *ngFor="let degree of education">
  <hr>
  <div><span class="degree-title">{{ degree.degree }}, </span><div class="institute">{{degree.name}}</div></div>
  <div class="dates">{{degree.startDate | date: 'yyyy'}} - {{degree.endDate | date: 'yyyy'}}</div>
  <div fxLayout="row" fxLayoutGap="5px">
    <div class="resume-highlight" *ngFor="let minor of degree.minors">{{ minor }}</div>
  </div>
</div>
