<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
  <mat-icon color="accent">build</mat-icon>
  <h3>Projects</h3>
</div>
<div class="project" *ngFor="let project of projects">
  <hr>
  <div class="in-progress" *ngIf="project.inProgress">In Progress</div>
  <div class="project-name" *ngIf="project.url; else nonLinkName">
    <a href="{{ project.url }}">{{ project.name }}</a>
  </div>
  <ng-template #nonLinkName>
    <div class="project-name">{{ project.name }}</div></ng-template>
  <div>{{ project.description }}</div>
  <div *ngIf="project.technologiesUsed">
    <div><h6>Technologies used:</h6></div>
    <ul>
      <li *ngFor="let tech of project.technologiesUsed">{{ tech }}</li>
    </ul>
  </div>
</div>
