@import "../../../variables";

@include section-title();

.project {
  @include indent();

  .project-name {
    font-size: $item-header-font-size;
    font-weight: 500;
  }

  .in-progress {
    font-size: .74em;
  }

  ul {
    list-style: circle;
    margin-top: 5px;
  }

  h6 {
    margin-bottom: 0px;
  }

  a {
    text-decoration: none;
  }
}
